SERVICE_NAME=idp-extraction
IDP_EXTRACTION_PORT=8003
MOCK_MODE=true
LMDEPLOY_URL=http://localhost:23333
LMDEPLOY_API_KEY=EMPTY
MODEL_NAME=OpenGVLab/InternVL3_5-8B-Flash
DEFAULT_PROMPT_MODE=reasoning_vir
MAX_NEW_TOKENS=1024
TEMPERATURE=0.0
GCS_BUCKET=idp-artifacts-dev
